.clear {
clear:both;
}

.centro {
text-align:center!important;
}

.direita {
text-align:right!important;
}

.esquerda {
text-align:left!important;
}

.fl_right {
float:right;
}

.clearfix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hide from IE Mac \*/
.clearfix { display: block; }
/* End hide from IE Mac */

div#div-jcrop{background-color:#f2f2f2;margin:12px;padding:12px;}

.custom .jcrop-vline, .custom .jcrop-hline {
	background: #FF3366!important;
}
